page-second {
         ion-content{
                background-color:rgba(3, 40, 95, 0.925) !important;
        }
        .displayWeather{
            background-color: rgba(6, 50, 117, 0.849);
            color: white;
            
        }
        .advice{
            background-color: rgba(6, 50, 117, 0.849);
            margin-top: 12px;
            color: white;
        }
        img{
            height: auto;
            width: auto;
            margin-right: auto;
        }
        
}
